.container-fluid{
    background-image: url(/Images/6004798.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-toggler-icon{
    background-color:grey;
    border-radius: 7px;
    border: solid rgb(255, 255, 255) 4px;
}
#offcanvasNavbarLabel{
    background-image: url(/Images/Smoke\ Background.jpg);
}
.navbar-toggler-icon:hover{
    transform: scale(1.2);
}
.offcanvas-body{
    background-image: url(/Images/Right\ Smoke\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ul{
  margin:0;
  padding:0;
  display:flex;
}
ul li{
  list-style:none;
  margin:0 20px;
  transition:0.5s;
} */
.nav-item{
  display: block;
  position:relative;
  text-decoration:none;
  padding:5px;
  font-size:18px;
  font-family: sans-serif;
  color:#fff;
  text-transform:uppercase;
  transition:0.5s;  
}

.nav-item:hover{
  transform:scale(1.5);
  opacity:0.2;
  filter:blur(5px);
  color: black;
    text-shadow:0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4;
}
.nav-item:hover{
  transform:scale(1.1);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:#fff;
}
.nav-item:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:grey;
  transition:0.5s;
  transform-origin:right;
  transform:scaleX(0);
  z-index:-1;
}
.nav-item:hover:before{
  transition:transform 0.3s;
  transform-origin:left;
  transform:scaleX(1);
}
#Logo{
    border: solid rgb(0, 0, 0);
    border-radius: 3px;
}
.navHead{
    text-align: center;
    color: white;
    font-family: "Audiowide";
}
#homeBody{
    background-image: url(/Images/6004798.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: (50,10);
    scroll-margin: 100px;
    overflow-x: hidden
}

.intro{
    margin-top: 20%;
    color: white;
    height: 600px;
}
.intro span{
    color: aqua;
}

#Labels {
    list-style: none;
    color: black;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: "Audiowide";
  }
  
  #Labels #Lett {
    display: inline-block;
    transition: transform 2s, opacity 2s, filter 2s;
  }
  
  #Labels:hover #Lett {
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    filter: blur(20px);
  }
  
  #Labels #Lett:nth-child(1) {
    transition-delay: 0;
  }
  
  #Labels #Lett:nth-child(2) {
    transition-delay: 0.4s;
  }
  
  #Labels #Lett:nth-child(3) {
    transition-delay: 0.8s;
  }
  
  #Labels #Lett:nth-child(4) {
    transition-delay: 1.2s;
  }
  
  #Labels #Lett:nth-child(5) {
    transition-delay: 1.6s;
  }
  #Labels #Lett:nth-child(6) {
    transition-delay: 2.0s;
  }
  #Labels #Lett:nth-child(7) {
    transition-delay: 2.4s;
  }
  #Labels #Lett:nth-child(8) {
    transition-delay: 3.0s;
  }
  #Labels{
    text-align: center;
  }
  h3{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    transition: 0.5s;
  }
  h3:hover{
    color: black;
    text-shadow:0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4;
  }

  .center-container {
    display:flex;
    justify-content: center;
  }

  
  .center-button {
    color: white;
   margin: 10px;
   border-radius: 15px;
   border-color: white;
   background-color: grey;
   font-family: "Audowide";
  }
  .center-button:hover{
    color: black;
    text-shadow:0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4;
  }

  #who{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    transition: 0.5s;
  }
  #who:hover{
    color: black;
    text-shadow:0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4;
  }

  #abth3{
    /* font-size: 5em; */
    /* letter-spacing: 10px; */
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    /* white-space: nowrap; */
    overflow: hidden;
    animation: typing 5s steps(18), cursor .4s step-end infinite alternate;
    color: antiquewhite;
}
@keyframes cursor{
    50% { border-color: transparent;}
}
@keyframes typing {
    0% {
      width: 0;
    }
    10% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  #abtP{
    color: white;
    border: solid black 2px;
    border-radius: 5px;
    background-color: grey transparent;
    text-shadow: grey;
    font-weight: bolder;
    transition: 0.5s;
  }
  #abtP:hover{
    color:black;
    text-shadow:0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h2{
    font-family: "Audiowide";
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
  }
  
  h2 {
    font-weight: 20;
    color: white;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
  }
  
  h2:hover {
    color: black;
    text-shadow:0 0 5px #03e9f4,
                0 0 5px #03e9f4,
                0 0 5px #03e9f4,
                0 0 5px #03e9f4;
  }

  /* .card{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,.1);
    backdrop-filter: blur(5.3px);
    width: 550px;
    box-shadow: 15px 15px 50px rgba(0,0,0,.2);
    color: #fff;
    background-color: grey;
  } */
#Slogo{
  width: 400px;
  height: 300px;
  filter: grayscale(100%);
}
#Slogo:hover{
  filter: none;
}
.col{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,.1);
    backdrop-filter: blur(5.3px);
    width: 550px;
    box-shadow: 15px 15px 50px rgba(0,0,0,.2);
    color: #fff;
    background-color: grey transparent;
}
.col:hover{
  transform: scale(1.05);
  transition: 0.3s;
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after
{
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after
{
  background: linear-gradient(315deg, #03a9f4, #ff0058)
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after
{
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}
.container .box:nth-child(4):before,
.container .box:nth-child(4):after
{
  background: linear-gradient(315deg, #ff0058, #ffbc00)
}
.container .box:nth-child(5):before,
.container .box:nth-child(5):after
{
  background: linear-gradient(315deg, #ff0058, #03a9fa)
}

.container .box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.container .box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.container .box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.container .box .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container .box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2
{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a
{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover
{
  color: black;
  background: aqua;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}
#links{
  margin: 20px;
}

#projP{
  width: 250px;
  height: 150px;
  background-color: grey transparent;
}