.container-fluid{
    background-image: url(/Images/6004798.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-toggler-icon{
    background-color:grey;
    border-radius: 7px;
    border: solid rgb(255, 255, 255) 4px;
}
#offcanvasNavbarLabel{
    background-image: url(/Images/Smoke\ Background.jpg);
}
.navbar-toggler-icon:hover{
    transform: scale(1.2);
}
.offcanvas-body{
    background-image: url(/Images/Right\ Smoke\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-item{
    text-decoration: underline red;
    
}
#Logo{
    border: solid rgb(0, 0, 0);
    border-radius: 3px;
}
.navHead{
    text-align: center;
    color: white;
    font-family: "Audiowide";
}
#homeBody{
    background-image: url(/Images/6004798.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: (50,10);
    scroll-margin: 100px;
    overflow-x: hidden
}

.intro{
    margin-top: 20%;
    color: white;
    height: 600px;
}
.intro span{
    color: aqua;
}

#Labels {
    list-style: none;
    color: black;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: "Audiowide";
  }
  
  #Labels #Lett {
    display: inline-block;
    transition: transform 2s, opacity 2s, filter 2s;
  }
  
  #Labels:hover #Lett {
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    filter: blur(20px);
  }
  
  #Labels #Lett:nth-child(1) {
    transition-delay: 0;
  }
  
  #Labels #Lett:nth-child(2) {
    transition-delay: 0.4s;
  }
  
  #Labels #Lett:nth-child(3) {
    transition-delay: 0.8s;
  }
  
  #Labels #Lett:nth-child(4) {
    transition-delay: 1.2s;
  }
  
  #Labels #Lett:nth-child(5) {
    transition-delay: 1.6s;
  }
  #Labels #Lett:nth-child(6) {
    transition-delay: 2.0s;
  }
  #Labels #Lett:nth-child(7) {
    transition-delay: 2.4s;
  }
  #Labels{
    text-align: center;
  }
  h3{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    transition: 0.5s;
  }
  h3:hover{
    color: black;
    text-shadow:0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4;
  }

  .center-container {
    display:flex;
    justify-content: center;
  }

  
  .center-button {
   margin: 10px;
   border-radius: 15px;
   border-color: red;
   background-color: grey;
   font-family: "Audowide";
  }

  #who{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    transition: 0.5s;
  }
  #who:hover{
    color: black;
    text-shadow:0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4;
  }

  #abth3{
    /* font-size: 5em; */
    /* letter-spacing: 10px; */
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    /* white-space: nowrap; */
    overflow: hidden;
    animation: typing 5s steps(18), cursor .4s step-end infinite alternate;
    color: antiquewhite;
}
@keyframes cursor{
    50% { border-color: transparent;}
}
@keyframes typing {
    0% {
      width: 0;
    }
    10% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  #abtP{
    color: white;
    border: solid black 2px;
    border-radius: 5px;
    background-color: grey transparent;
    text-shadow: grey;
    font-weight: bolder;
    transition: 0.5s;
  }
  #abtP:hover{
    color:black;
    text-shadow:0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4,
                0 0 2px #03e9f4;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h2{
    font-family: "Audiowide";
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
  }
  
  h2 {
    font-size:;
    font-weight: 20;
    color: white;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
  }
  
  h2:hover {
    color: black;
    text-shadow:0 0 5px #03e9f4,
                0 0 5px #03e9f4,
                0 0 5px #03e9f4,
                0 0 5px #03e9f4;
  }